{% extends 'template.html' %}
{% block content %}
  <form method="post" action="">
    <p>
      <label for="nome">Nome: </label>
      <input class="form-control" type="name" name="nome_pac" required>
    </p>
    <p>
      <label for="cpf">CPF: </label>
      <input class="form-control" type="cpf" name="cpf_pac" required>
    </p>
    <p>
      <label for="numero">Numero de telefone: </label>
      <input class="form-control" type="number" name="num_pac" required>
    </p>
    <p>
      <label for="email">Email: </label>
      <input class="form-control" type="email" name="email_pac" required>
    </p>
    <p>
      <label for="nasc_pac">Data de nascimento: </label>
      <input class="form-control" type="date" name="nasc_pac" required>
    </p>
    <p>
      <label for="sexo_pac">Sexo: </label>
      <select class="form-control" name="sexo_pac" required>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="nao-binario">Não Binario</option>
        <option value="nao-declarar">Não declarar</option>
      </select>
    </p>
    <p>
      <button class="btn-cad-pac" type="submit">Finalizar cadastro</button>
    </p>

  </form>
{% endblock %}