{% extends 'template.html' %}
{% block content %}
  <form method="post" action="/cadastrado">
    <p>
      <label for="nome">Nome: </label>
      <input class="form-control" type="nome" name="nome" required>
    </p>
    <p>
      <label for="cpf">CPF: </label>
      <input class="form-control" type="cpf" name="cpf" required>
    </p>
    <p>
    <label for="crp">CRP: </label>
    <input class="form-control" type="crp" name="crp" required>
    </p>
    <p>
      <label for="numero">Numero de telefone: </label>
      <input class="form-control" type="number" name="numero" required>
    </p>
    <p>
      <label for="email">Email: </label>
      <input class="form-control" type="email" name="email" required>
    </p>
    <p>
      <label for="nasc">Data de nascimento: </label>
      <input class="form-control" type="date" name="nasc" required>
    </p>
    <p>
      <label for="sexo">Sexo: </label>
      <select class="form-control" name="sexo" required>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="nao-binario">Não Binario</option>
        <option value="nao-declarar">Não declarar</option>
      </select>
    </p>
    <p>
      <button name="btn-cad-pis" type="submit">Finalizar cadastro</button>
    </p>

  </form>
{% endblock %}