{% extends 'template.html' %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Horário</th>
        <th>Data</th>
        <th>Paciente</th>
        <th>Psicólogo</th>
      </tr>
    </thead>
    <tbody>
    {% for entrada in lista_espera %}
      <tr>
        <td>{{ entrada.horario }}</td>
        <td>{{ entrada.data }}</td>
        <td>{{ entrada.nome_paciente }}</td>
        <td>{{ entrada.nome_psicologo }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}