<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css" />
  <title>Lista de espera</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post" action="">
    <p>
      <label for="">Nome: </label>
      <input class="form-control" type="text" name="usuario" required>
    </p>
    <p>
      <label>Senha: </label>
      <input class="form-control" type="password" name="senha" required>
    </p>
    <p>
      <button class="btn-login" type="submit">Entrar</button>
    </p>

  </form>
</body>
</html>